.lista-produtos .card-img-top {
    height: 220px;
    object-fit: cover;
}

.card {
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    will-change: transform;
    background-color: #f1ecec;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 0,5rem;
}

.card-footer {
    margin-top: auto;

}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.18);
}

.lista-produtos .card-img-top{
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.card-img-top {
    width: 100%;
    height: 220px;          /* altura fixa igual pra todas */
    object-fit: cover;      /* corta sem distorcer */
    object-position: center;
    display: block;
}


.card-title{
    text-align: center;
}


.nav-tabs .nav-link {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-tabs .nav-link:hover {
    background-color: #f1f1f1;
}


/* ===== MENU CATEGORIAS ===== */
#menuCategorias {
    border-bottom: none;
    gap: 10px;
}

#menuCategorias .nav-item {
    margin-bottom: 10px;
}

#menuCategorias .nav-link {
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 500;
    color: #444;
    background-color: #f1f1f1;
    transition: all 0.3s ease;
}

/* Hover */
#menuCategorias .nav-link:hover {
    background-color: #0d6efd;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Aba ativa (adicione a classe active manualmente ou via JS) */
#menuCategorias .nav-link.active {
    background: linear-gradient(45deg, #0d6efd, #0a58ca);
    color: #fff;
    box-shadow: 0 4px 10px rgba(13, 110, 253, 0.4);
}


/* ===== MENU ORDENAÇÃO ===== */
#menuOrdenacao {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#menuOrdenacao a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #e9ecef;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
}

#menuOrdenacao a:hover {
    background-color: #198754;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
