/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body{
    background-color: #ffc107 !important;
    font-family: Arial !important;
}

#col1{
    background-color: white !important;
    width:400px !important;
    text-align: center;
    padding: 10px 38px 38px 38px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.titulo{
    font-size: 32px;
    margin-top: 14px;
    margin-bottom: 12px;
    font-weight: bold;
}

.texto{
    font-size: 18px;
    font-weight: bold;
}

.pedido{
    margin-top: 32px;
    text-align: left;
}

.rotulo{
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

.campo-texto{
    width: 100%;
    font-size: 16px;
    color: #434343;
    padding: 7px 13px;
    margin-bottom: 16px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    box-sizing: border-box;
}

.botao-reservar{
    width: 100%;
    background-color: #FFC107;
    color: white;
    line-height: 150%;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 16px;
}

#col2{
    width: 700px;   
    margin-left: 39px;
}

.oferta{
    font-size: 36px;
    font-weight: bold;
    color:white;
}

.destaque{
    color: #445EE5;
}

.texto-oferta{
    font-size: 18px;
    margin-top: 10px
}

.tudo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* ####################### MENU */

.navbar {
    background-color: white;
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    transition: all 0.3s ease;
    padding: 5px 0;
}

.nav-link:hover {
    color: #FFC107;
    font-weight: bold;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background-color: #FFC107;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar {
    background-color: white;
    padding: 15px 30px;
}

.navbar-nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #434343;
    font-weight: bold;
}

.nav-link:hover {
    color: #FFC107 !important;
}

.navbar-toggler {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-link:active {
    transform: scale(0.95);
}

body {
    padding-top: 80px;
}




/* ####################### MODAL LOGIN USUARIO */

.modal-sistema {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content-login {
    background: white !important;
    padding: 25px;
    border-radius: 8px;
    width: 350px;
    max-width: 90%;
}

@keyframes aparecer {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn-amarelo {
    background-color: #FFC107 !important;
    color: white;
    border: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn-amarelo:hover {
    background-color: #e0a800 !important; /* amarelo mais escuro */
    color: white;
}

.btn-amarelo:active {
    transform: scale(0.97);
}

/* ####################### RESPONVISO */
@media (max-width: 768px) {

    .navbar-nav {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .navbar-nav.ativo {
        display: flex;
    }

    .navbar-toggler {
        display: block;
    }
}



/* MODAL VEICULO */
/* ESCONDE */
.hidden {
    display: none !important;
}

.modal-sistema {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: #ffffff;
    width: 100%;
    max-width: 600px;   /* 👈 limita tamanho */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

